.table-custom {
  .ant-table-container{
    // border: 1px solid #16192A !important;
    //border-radius: 6px 6px 0px 0px !important;
    background: none;
  }
  .ant-table-thead {
    th {
      font-weight: 700 !important;
      color: #86889A !important;
      background: #1C1F35 !important;
      border: none !important;
      border-bottom: 3px solid #16192A !important;
      padding: 13px 16px !important;
    }
  }
  .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td{
    border: none;
  }
  .ant-table.ant-table-bordered > .ant-table-container {
    border: none;
  }
  td.ant-table-cell {
    background: none !important;
  }
}
